:root {
	--height: 100dvh;

	/* color  */
	--black: #191919;
	--white: #f3f3f3;

	/* font family */
	--ff-poppins: 'Poppins';
	--ff-quicksand: 'quicksand';
	--ff-nunito: 'nunito';

	/* gradients */
}
